// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$grey: #6D6E71;
$light_grey: #BCBEB0;
$orange: #F26522;
$white: #F8F4F1;

body {
  background: transparent image-url("BKGRND-paper.png") repeat 0 0;
  font-family: "franklin-gothic-urw";
  font-size: 24px;
  line-height: 30px;
  color: $grey;
}

h1,h2 {
  font-family: "hwt-slab-antique";
  font-size: 33px;
  font-weight: normal;
  letter-spacing: 2px;
  display: inline-block;
}

h2, h3 {
  text-align: center;
}

h2 {
 font-size: 38px;
}
h3{
  font-family: "hwt-artz";
}

.full {
  width: 100%;
}

.spacer {
  width: 70%;
  margin: 20px auto;
  background: transparent image-url("CPBG_Line.png") no-repeat 0 5px;
  background-size: 100%;
}

.ornament {
  img {
    height: 35px;
    width: 35px;
  }
}

.content {
  margin: 0 9%;

  p {
    margin: 20px 0;
  }

  #midline{
    margin: 0 auto;
    width:82%;
  }
}

table.rsvps {
  margin: 50px;

  tr.odd {
    background-color: $grey;
  }
  tr.even {
    background-color: $light_grey;
  }
  th.attending {
    width: 140px;
  }
  th.name {
    width: 200px;
  }
  th.comment {
    width: 500px;
  }
  th.attending {
    width: 200px;
  }
  td {
    color: $white;
    padding: 3px;
  }
}

#top-bar {
  background: transparent image-url("diagonal-pattern.png") repeat 0 0;
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 20;

  h1 {
    margin-left: 20px;
    padding: 20px 0;
    vertical-align: top;
  }

  #vote {
    display: inline-block;
    vertical-align: top;

    #yay,#nay {
      cursor: pointer;
      margin: 12px 10px;
      display: inline-block;
      overflow: hidden;
      text-indent: -15000px;
      width: 146px;
      height: 45px;
    }

    #yay {
      background: image-url('CPBG_Yay.png') no-repeat 0 0;
      background-size: 100%;
    }
    #nay {
      background: image-url('CPBG_Nay.png') no-repeat 0 0;
      background-size: 100%;
    }

    #yay:hover, #nay:hover {
      background-position: 0 -45px;
    }
  }

  #ribbon {
    display: inline-block;
    float:right;
    margin-right: 20px;
  }
}

#bottom-spacer {
  background: transparent image-url("diagonal-pattern.png") repeat 0 0;
  height:10px;
}

#bottom-bar {
  background-color: $orange;
  color:$white;
  font-size: 20px;

  .left {
    display: inline-block;
    margin: 0 9%;
    width: 60%;
    vertical-align: top;
    padding-top: 45px;
    img {
      width: 50%;
      height: 50%;
    }
  }

  .right {
    display: inline-block;
    width: 170px;
    height: 210px;

    img {
      margin: 0 20px;
      height:100%;
    }
  }
}

#form {
  form {
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 10;
    width: 1021px;
    height: 585px;

    &.yay {
      background: transparent image-url("CPBG_YES_Form.png") repeat 0 0;
      background-size: 100%;
    }
    &.nay {
      background: transparent image-url("CPBG_NO_Form.png") repeat 0 0;
      background-size: 100%;
    }

    .inputs {
      margin: 337px 0 0 260px;
      label {
        display: block;
        margin: 5px 0;
      }
      input, textarea {
        padding: 10px;
        width: 80%;
        border: 1px solid $light_grey;
      }
      .field_with_errors {
        color: red;
      }
      .submit {
        margin: 0 auto;
        width: 100%;

        input {
          font-family: "hwt-american-outline";
          color: $white;
          font-size: 30px;
          border: none;
          background-color: transparent;
          padding: 0;
          cursor: pointer;
        }
      }
    }
  }
  #cancel {
    font-family: "hwt-american-outline";
    color: $white;
    font-size: 30px;
    float: right;
    width: 30px;
    height:30px;
    margin: -14px 15px 0 0;
    cursor: pointer;
  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

  h1,h2 {
    font-size: 22px;
  }
  h3  {
    font-size: 20px;
  }
  #midline {
    width: 66%;
  }
}

@media all
  and (max-width: 1023px) {

  #top-bar {
    h1 {
      font-size: 22px;
      margin-left: 5px;
    }
    #ribbon {
      margin-right: 0px;
    }
    #vote {
      #yay,#nay {
        background: transparent none repeat 0 0;
        color:$grey;
        font-family: "hwt-american-outline";
        text-indent: 0;
        margin: 0;
        padding:20px 5px;
        width: 75px;
        height: 30px;
        text-decoration: none;
      }
      #yay:hover,#nay:hover {
        color:$orange;
      }
    }
  }

  #bottom-bar {
    .left {
      width:55%;
    }
  }
}

@media all
  and (min-width: 1163px) {
  #top-bar {
    h1 {
      font-size: 44px;
    }
  }
  #form {
    form {
      left:10%;
    }
  }
}
